@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --black: #232134;
  --white: #FFFFFF;
  --grey-600: #7B7C88;
  --grey-500: #ACADB9;
  --grey-400: #C6C7D3;
  --grey-300: #D5D6DC;
  --grey-200: #EAEBED;
  --grey-100: #F5F5F6;
  --blue-600: #3B7CD3;
  --blue-main-500: #5E96FC;
  --blue-400: #92C1FF;
  --blue-300: #B7D6FF;
  --blue-200: #C9E0FF;
  --blue-100: #DEECFF;
}

body {
  background: #F5F5F5;
  margin: 0;
  font-family: Inter, sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 235px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 916px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
    max-width: 1116px;
  }
}

@media (min-width: 1441px) {
  .container {
    max-width: 100%;
  }
}

