.vacancies-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    margin: 16px 0 40px 0;
}

.loader-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.loader {
    justify-content: center;
    align-items: center;
}

.pagination {
    justify-content: center;
}