.vacancies-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    margin: 16px 0 40px 0;
}

.vacancy-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 90px;
    border: 1px solid var(--grey-200);
    border-radius: 12px;
    background-color: var(--white);
    padding: 25px;
}

.vacancy-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.vacancy-info p {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.vacancy-profession {
    color: var(--blue-main-500);
    font-size: 20px;
}

.vacancy-town {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.vacancy-info-separator {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: var(--grey-600);
    padding: 0 10px;
}

.make-starred-btn:hover {
    cursor: pointer;
}