@import "../../styles/utilities";


.searchbar-form {
    @include border($grey-200, 8px);
    @include flex-row(10px);
    align-items: center;
    background: $white;
    justify-content: space-between;
    padding: 8px 12px 8px 2px;
    transition: 0.15s ease;

    .searchbar-input-wrapper {
        width: 100%;

        .reset-btn {
            background: none;
            color: $grey-400;
            font-size: 25px;
            transition: 0.25s ease;

            &:hover {
                color: $grey-500;
            }
        }

        input {
            background-color: $white;
            border: none;
            padding-right: 22.5px;
        }
    }

    &:hover {
        border-color: $grey-300;
    }

    &:focus-within {
        border-color: $blue-600;
    }

    .submit-btn {
        height: 32px;
        width: 85px;
    }
}