.searchbar-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 8px 12px 8px 2px;
    border-radius: 8px;
    align-items: center;
    background: var(--white);
    border: 1px solid var(--grey-200);
    transition: 0.15s ease;
}

.searchbar-form:hover {
    border: 1px solid var(--grey-300);
}

.searchbar-form:focus-within {
    border: 1px solid var(--blue-600);
}

.searchbar-input-wrapper {
    width: 100%;
    margin: 0;
}

.searchbar-input-wrapper input {
    background-color: var(--white);
    border: none;
    padding: 0;
}

.search-btn {
    width: 85px;
    height: 32px;
}

.reset-btn {
    font-size: 20px;
    color: var(--grey-500);
    transition: 0.25s ease;
}

.reset-btn:hover {
    cursor: pointer;
    color: var(--grey-600);
}