@import "../../styles/utilities";


.vacancies-list {
  @include flex-column(1em);
  flex-grow: 1;
  padding: 1em 0 2.5em 0;

  @media (max-width: 767px) {
    padding-top: 1.5em;
    gap: 0.75em;
  }

  @media (max-width: 441px) {
    padding: 1em 0 1.5em 0;
    gap: 0.75em;
  }
}

.vacancy-container {
  @include flex-row(5.625em);
  @include border($grey-200, 0.75em);
  align-items: flex-start;
  background-color: $white;
  justify-content: space-between;
  min-width: fit-content;
  padding: 1.5625em;
  width: 100%;

  &.info {
    @include flex-column(1em);

    ul {
      padding-left: 1.25em;
    }
  }
}

.loader-wrapper {
  @include flex-row();
  overflow: hidden;
  height: 80vh;
  align-items: center;
  justify-content: center;
}