@import "../../styles/utilities";


.vacancies-list {
  @include flex-column(16px);
  flex-grow: 1;
  padding: 16px 0 40px 0;
}

.vacancy-container {
  @include flex-row(90px);
  @include border($grey-200, 12px);
  justify-content: space-between;
  align-items: flex-start;
  min-width: fit-content;
  width: 100%;
  background-color: $white;
  padding: 25px;

  &.info {
    @include flex-column(16px);

    ul {
      padding-left: 20px;
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
}