@import "../../../styles/utilities";
@import "../Header";

.burger {
  color: $black;
}

.burger-dropdown {
  @include border($grey-200, 0.5em);
  background: $white;
  padding: 0.375em 0.5em;
  position: absolute;
  left: 20px;
  top: 80px;
}