@import "../../styles/utilities";


.filters-form {
    @include flex-column(20px);
    width: 100%;
}

.filters-container {
    @include border($grey-200, 12px);
    @include flex-column(32px);
    align-items: flex-start;
    background: $white;
    height: fit-content;
    min-width: 315px;
    padding: 20px;

    .filters-topbar {
        @include flex-row();
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .filters-header {
            color: $black;
            font-size: 20px;
        }

        .reset-button {
            background-color: $white;
            color: $grey-500;
            font-size: 14px;
            font-weight: 500;
            transition: 0.25s ease;

            &:hover {
                color: $grey-600;
            }
        }
    }

    .salary-range {
        @include flex-column(8px);

        .salary-input-control {
            @include border(none, 10px);
            color: $grey-500;

            &.down {
                align-items: flex-start;
            }

            &.up {
                align-items: flex-end;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    input {
        @include border($grey-300, 8px);
        background: $white;
        height: 42px;
        padding: 8px 12px;
        transition: 0.2s ease;

        &:focus {
            border-color: $blue-main-500;
        }

        &:hover {
            border-color: $grey-500;
        }
    }

    label {
        color: $black;
        font-size: 16px;
        font-weight: 700;
    }
}



