@import "../../styles/utilities";


.site-header {
    @include flex-row(17.5em);
    align-items: center;
    background-color: $white;
    width: 100%;
    gap: 21%;
    padding: 0.625em 11.25%;

    @media screen and (max-width: 591px) {
        gap: 0;
        justify-content: space-between;
    }
}

.logo {
    @include flex-row(0.75em);
    align-items: center;

    .logo-image {
        @include size(1.875em, 1.875em);
    }

    .logo-text {
        color: $black;
        font-family: Poppins, sans-serif;
        font-size: 1.5em;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
    }
}


.menu-item {
    color: $black;
    list-style-type: none;
    transition: 0.25s ease;

    &.active {
        color: $blue-main-500;
    }

    &:hover {
        color: $blue-main-500;
        cursor: pointer;
        font-weight: 500;
    }
}

@media screen and (max-width: 1023px) {
    .site-header {
        padding: 0.625em 5%;
    }
}