@import "../../styles/utilities";


.site-header {
    @include flex-row(280px);
    align-items: center;
    background-color: $white;
    padding: 10px 235px;
    width: 100%;
}

.logo {
    @include flex-row(12px);
    align-items: center;

    .logo-text {
        color: $black;
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
    }
}

.menu-list {
    @include flex-row(60px);

    .menu-item {
        color: $black;
        list-style-type: none;
        transition: 0.25s ease;

        &.active {
            color: $blue-main-500;
        }

        &:hover {
            color: $blue-main-500;
            cursor: pointer;
            font-weight: 500;
        }
    }
}


@media (max-width: 1440px) {
    .main-header {
        gap: 308px;
        padding: 10px 162px;
    }
}