.main-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 10px 235px;
    gap: 280px;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.logo:hover {
    cursor: pointer;
}

.logo-text {
    color: var(--black);
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.menu-item {
    list-style-type: none;
    color: var(--black);
    transition: 0.2s ease;
}

.active {
    color: var(--blue-main-500);
}

.menu-item:hover {
    cursor: pointer;
    color: var(--blue-main-500);
    font-weight: 500;
}

@media (max-width: 1440px) {
    .main-header {
        padding: 10px 162px;
        gap: 308px;
    }
}