@import "../../../../styles/utilities";


.vacancy-container-content {
  @include flex-column(13px);

  .vacancy-info-separator {
    color: $grey-600;
    font-family: Poppins, sans-serif;
    padding: 0 10px;
  }

  .vacancy-location {
    @include flex-row(8px);
    align-items: center;
  }

  .vacancy-profession {
    color: $blue-main-500;
    font-size: 20px;

    &.single {
      color: $black;
      font-size: 28px;
    }
  }

  .vacancy-salary {
    font-size: 16px;

    &.single {
      font-size: 20px;
    }
  }

  p {
    color: $black;
    font-size: 16px;
  }
}