@import "./constants";


@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin border($border-color, $border-radius: 0) {

  @if $border-color != none {
    border: 1px solid $border-color;
  }
  @else {
    border: none;
  }

  border-radius: $border-radius;
}

.bold {
  font-weight: 600;
}

.semi-bold {
  font-weight: 700;
}